<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <import resource="spring-database.xml"/>
    
    <security:http auto-config="true">
        <security:intercept-url pattern="/search-flights*" access="ROLE_USER" />
        <security:form-login
            login-page="/login.html"
            login-processing-url="/perform_login"
            default-target-url="/search-flights.html"
            authentication-failure-url="/login.html?error=true"
            username-parameter="userName"
            password-parameter="password" />
        
        <security:logout logout-success-url="/login.html?logout" />
        
    </security:http>
 
    <security:authentication-manager>
      <security:authentication-provider>
        <security:jdbc-user-service data-source-ref="dataSource"
            users-by-username-query="select userName, password, enabled from users where userName=?" 
            authorities-by-username-query="select userName, role from user_roles where userName=?"/>
      </security:authentication-provider>
    </security:authentication-manager>
</beans>
